<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="QueueingSystemDB" connectionString="Data Source=LUIS-MSI\LUISMSISERVER,49172;          Initial Catalog=QueueingSystem; Persist Security Info=True; User ID=sa; Password=hugofr31tr9" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>